Language: Cpp
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
AccessModifierOffset: -4
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
PenaltyBreakAssignment: 1000